:root {
  --primary-purple: #331443;
  --secondary-purple: #0c0112;
  --primary-white: #ecf1f0;
  --secondary-white: #b6b6b6;
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Roboto", sans-serif;
  --heading-desktop: 60px;
  --heading-mobile: 40px;
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: scroll;
  font-family: var(--primary-font);
}

.App {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(#0c0112 10%, #331443 110%);
  background-attachment: fixed;
  background-size: cover;
  z-index: 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

.company {
  text-align: center;
  font-family: var(--primary-font);
  color: var(--primary-white);
  margin-top: 30px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.logo img {
  width: 45vw;
  border: solid 5px white;
  border-radius: 15px;
}

.name {
  font-family: var(--primary-font);
  color: var(--primary-white);
  text-align: center;
}

.title {
  font-family: var(--secondary-font);
  color: var(--secondary-white);
  text-align: center;
}

.tagline {
  text-align: center;
  font-size: 18px;
  color: var(--secondary-white)
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 60px;
  margin-bottom: 10px;
}
.phone, .email, .instagram, .facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

a {
  pointer-events: auto;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  touch-action: manipulation;
}

a span {
  display: flex;
  padding: 15px;
}

.online {
  text-align: center;
  font-size: 18px;
  color: var(--secondary-white);
  margin-bottom: 10px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 60px;
}